@using _6._1_Users_and_awards.WEB.Models;

@{
    string errorMessage = null;
    if (IsPost)
    {
        var UserID = Request["UserID"];
        var AwardID = Request["AwardID"];

        if (UsersAndAwards.AddAwardToUser(UserID, AwardID))
        {
            UsersAndAwards.Save(UsersAndAwards.Path);
            errorMessage = "Award added to user successful!";
        }
        else
        {
            errorMessage = "Error added ward to user!";
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Award to User</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
</head>
<body>
    @if (errorMessage != null)
    {
        <div class="alert alert-danger">@errorMessage</div>
    }
    <div><h3>Page awards to users</h3></div>
    <div>
        @if (UsersAndAwards.GetAllUsers().Count != 0)
        {
            var users = UsersAndAwards.GetAllUsers();
            <table border="1">
                <caption>Table of Users</caption>
                @foreach (var user in users)
                {
                    <tr><th>Name of user:  @user.Name</th></tr>
                    <tr><td>@user.Id.ToString()</td></tr>
                    <tr><td>Age of user: @user.Age</td></tr>
                    if (UsersAndAwards.GetUserAward(user.Id.ToString()).Count != 0)
                    {
                        <tr><th>Award(s) of "@user.Name"</th></tr>
                        var awards = UsersAndAwards.GetUserAward(user.Id.ToString());
                        foreach (var award in awards)
                        {
                            string path = @UsersAndAwards.GetImage(award);
                            <tr><td>@award.Title</td><td><img src="~/Pages/Image/@path"></td></tr>
                        }

                    }
                }
            </table>
        }
        else
        {
            <table border="1">
                <caption>Table of Award</caption>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                </tr>
                <tr><td>Empty</td><td>Empty</td></tr>
            </table>
        }
    </div>
    <div>
        @if (UsersAndAwards.GetAllAward().Count != 0)
        {
            var awards = UsersAndAwards.GetAllAward();
            <table border="1">
                <caption>Table of Awards</caption>
                <tr><th>ID</th><th>Title</th><th>Image</th></tr>
                @foreach (var award in awards)
                {
                    string path = @UsersAndAwards.GetImage(award);
                    <tr><td>@award.Id.ToString()</td><td>@award.Title</td><td><img src="~/Pages/Image/@path"></td></tr>
                }
            </table>
        }
        else
        {
            <table border="1">
                <caption>Table of Award</caption>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Image</th>
                </tr>
                <tr><td>Empty</td><td>Empty</td></tr>
            </table>
        }
    </div>
    <form action="" method="post">
        <div class="field">
            <label for="a">Enter ID of user:</label>
            <input type="text" name="UserID" id="UserID">
        </div>
        <div class="field">
            <label for="a">Enter ID of award:</label>
            <input type="text" name="AwardID" id="AwardID">
        </div>
        <button>Enter award to user</button>
    </form>
    <div><a href="~/Pages/Index">Main page</a></div>
</body>
</html>
