@using _6._1_Users_and_awards.WEB.Models;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of users</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div>
        @if (UsersAndAwards.GetAllUsers().Count != 0)
        {

            var users = UsersAndAwards.GetAllUsers();
            <table border="1">
                <caption>Table of Users</caption>
                @foreach (var user in users)
                {
                    <tr><th>Name of user:  @user.Name</th></tr>
                    <tr><td>@user.Id.ToString()</td></tr>
                    <tr><td>Age of user: @user.Age</td></tr>
                    if (User.IsInRole("User") || User.IsInRole("Admin"))
                    {
                        if (UsersAndAwards.GetUserAward(user.Id.ToString()).Count != 0)
                        {
                            <tr><th>Award(s) of "@user.Name"</th></tr>
                            var awards = UsersAndAwards.GetUserAward(user.Id.ToString());
                            foreach (var award in awards)
                            {
                                string path = @UsersAndAwards.GetImage(award);
                                <tr><td>@award.Title</td><td><img src="~/Pages/Image/@path"></td></tr>
                            }
                        }
                    }
                }
            </table>
        }
        else
        {
            <table border="1">
                <caption>Table of Users</caption>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
                <tr><td>Empty</td><td>Empty</td><td>Empty</td></tr>
            </table>
        }
    </div>
    <a href="~/Pages/Index">Main page</a>
</body>
</html>